<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style/css/ch-ui.admin.css">
    <link rel="stylesheet" href="/static/style/font/css/font-awesome.min.css">
    <script type="text/javascript" src="/static/style/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/style/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/style/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/style/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/style/js/ch-ui.admin.js"></script>
</head>
<body>
<!--面包屑导航 开始-->
<div class="crumb_warp">
    <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->
    <i class="fa fa-home"></i> <a href="#">首页</a> &raquo; <a href="#">用户管理</a> &raquo; 管理员
</div>
<!--面包屑导航 结束-->

<!--搜索结果页面 列表 开始-->
<form action="/multi-delete/user.html" method="post">
        <div class="result_wrap">
            <!--快捷导航 开始-->
            <div class="result_content">
                <div class="short_wrap">
                    <a href="#"><i class="fa fa-plus"></i>新增用户</a>
                </div>
            </div>
            <!--快捷导航 结束-->
        </div>

        <div class="result_wrap">
            <div class="result_content">
                <table class="list_tab">
                    <tr>
                        <th class="tc" width="5%"><input type="checkbox" name=""></th>
                        <th class="tc">ID</th>
                        <th>用户</th>
                        <th>角色</th>
                        <th>邮箱</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>

                    {% for admin in admins %}
                    <tr>
                        <td class="tc"><input type="checkbox" name="user_id" value="{{ admin.id }}"></td>
                        <td class="tc">{{ admin.id }}</td>
                        <td>{{ admin.username }}</td>
                        <td>{% for role in admin.roles %}{{ role.name }}{% end %}</td>
                        <td>{{ admin.email }}</td>
                        <td>{{ admin.create_date }}</td>
                        <td>
                            <i class="fa fa-pencil-square-o" aria-hidden="true" class="btn btn-primary btn-lg"
                               data-toggle="modal" data-target="#myModal"></i>
                            <i class="fa fa-key" aria-hidden="true" class="btn btn-primary btn-lg"
                               data-toggle="modal" data-target="#myModal"></i>
                            <i class="fa fa-trash" aria-hidden="true" class="btn btn-primary btn-lg"
                               data-toggle="modal" data-target="#myModal"></i>
                        </td>
                    </tr>
                    {% end %}
                </table>

    <div class="page_nav">
        <div>
            {% for line in page_string %}
                {% raw line%}
            {% end %}
        </div>
    </div>
    </div>
    </div>
</form>
<!--搜索结果页面 列表 结束-->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

</body>


<script>
    var objEdit = document.getElementsByClassName("fa-pencil-square-o");
    for (var i = 0; i < objEdit.length; i++) {
        objEdit[i].onclick = function () {
            var obj_title = document.getElementById("myModalLabel");
            obj_title.innerHTML = "修改用户信息";

            var objTr = this.parentNode.parentNode;
            var objTds = objTr.getElementsByTagName('td');
            var userId = objTds[1].innerHTML;
            var userVal = objTds[2].innerHTML;
            var nameVal = objTds[3].innerHTML;
            var emailVal = objTds[4].innerHTML;
            var objModalBody = document.getElementsByClassName('modal-body')[0];
            objModalBody.innerHTML = "<label>用户名:</label><br/><input type='text' style='width:70%' name='username' value='" + userVal + "'/><br/>";
//            objModalBody.innerHTML += "<label>角色:</label><br/><input type='text' style='width:70%' name='role' value='" + nameVal + "'/><br/>";
            objModalBody.innerHTML += "<label>角色:</label><br/><select name='role' id=''><option value='admin' selected='selected'>管理员</option><option value='ordinary'>普通用户</option></select><br/>";
            objModalBody.innerHTML += "<label>邮箱:</label><br/><input type='text' style='width:70%' name='email' value='" + emailVal + "'/><br/>";
            var objBtn = document.getElementById('myModal').getElementsByClassName('btn btn-primary')[0];
            console.log(document.getElementsByName('role')[0].value);
            objBtn.onclick = function () {
                change_user({
                    id: userId,
                    username: document.getElementsByName('username')[0].value,
                    role: document.getElementsByName('role')[0].value,
                    email: document.getElementsByName('email')[0].value
                }, '/ajax/change_user')
            }
        }
    }

    var objUpdate = document.getElementsByClassName("fa fa-key");
    for (var i = 0; i < objUpdate.length; i++) {
        objUpdate[i].onclick = function () {
            var obj_title = document.getElementById("myModalLabel");
            obj_title.innerHTML = "修改密码";
            var objTr = this.parentNode.parentNode;
            var objTds = objTr.getElementsByTagName('td');
            var userId = objTds[1].innerHTML;
            var userVal = objTds[2].innerHTML;
            var objModalBody = document.getElementsByClassName('modal-body')[0];
            objModalBody.innerHTML = "<label>username:</label><br/><input type='text' name='id' value='" + userVal + "'><br/>";
            objModalBody.innerHTML += "<label>新密码:</label><br/><input name='password' type='text' /><br/>";
            objModalBody.innerHTML += "<label>再输一次:</label><br/><input name='repassword' type='text' /><br/>";
            var objBtn = document.getElementById('myModal').getElementsByClassName('btn btn-primary')[0];
            objBtn.onclick = function () {
                change_pass({
                    id: userId,
                    password: document.getElementsByName('password')[0].value,
                    repassword: document.getElementsByName('repassword')[0].value
                }, '/ajax/change_pass')
            }
        }
    }

    var objDelete = document.getElementsByClassName("fa fa-trash");
    for (var i = 0; i < objDelete.length; i++) {
        objDelete[i].onclick = function () {
            var obj_title = document.getElementById("myModalLabel");
            obj_title.innerHTML = "删除用户";
            var objTr = this.parentNode.parentNode;
            var objTds = objTr.getElementsByTagName('td');
            var userId = objTds[1].innerHTML;
            var objModalBody = document.getElementsByClassName('modal-body')[0];
            var objBtn = document.getElementById('myModal').getElementsByClassName('btn btn-primary')[0];
            objModalBody.innerHTML = "确定删除？";
            objBtn.onclick = function () {
                delete_user({
                    id: userId
                }, '/ajax/delete_user')
            }
        }
    }

    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }

    var change_user = function (data, url) {
        data._xsrf = getCookie("_xsrf");
        $.ajax({
            url: url,
            type: 'POST', //GET
            async: true,    //或false,是否异步
            data: data,
            timeout: 5000,    //超时时间
            dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text

            success: function (data) {
                var objEdit = document.getElementsByClassName("list_tab")[0].getElementsByTagName('tr');
                for (var i = 1; i < objEdit.length; i++) {
                    if (objEdit[i].getElementsByTagName('td')[1].innerText == data.id) {
                        var str = '<td class="tc"><input type="checkbox" name="id[]" value="59"></td><td class="tc">' + data.id + '</td>' +
                            '<td>' + data.username + '</td>' + '<td>' + data.role + '</td>' + '<td>' + data.email + '</td>' + '<td>' + data.create_date + '</td>'
                            + '<td><i class="fa fa-pencil-square-o" aria-hidden="true" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"></i>' +
                            '<i class="fa fa-key" aria-hidden="true" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"></i>' +
                            '<i class="fa fa-trash" aria-hidden="true" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"></i></td>';
                        objEdit[i].innerHTML = str;
                    }
                }
            },
            error: function (xhr, textStatus) {
                console.log(xhr);
                console.log(textStatus);
            }
        });
    };

    var change_pass = function (data, url) {
        data._xsrf = getCookie("_xsrf");
        $.ajax({
            url: url,
            type: 'POST', //GET
            async: true,    //或false,是否异步
            data: data,
            timeout: 5000,    //超时时间
            dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text

            success: function (data) {
                console.log(data.status)
            },
            error: function (xhr, textStatus) {
                console.log(xhr);
                console.log(textStatus);
            }
        });
    };

    var delete_user = function (data, url) {
        data._xsrf = getCookie("_xsrf");
        $.ajax({
            url: url,
            type: 'POST', //GET
            async: true,    //或false,是否异步
            data: data,
            timeout: 5000,    //超时时间
            dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text

            success: function (data) {
                var objEdit = document.getElementsByClassName("list_tab")[0].getElementsByTagName('tr');
                for (var i = 1; i < objEdit.length; i++) {
                    if (objEdit[i].getElementsByTagName('td')[1].innerText == data.id) {
                        objEdit[i].parentNode.removeChild(objEdit[i]);
                        break;
                    }
                }
            },
            error: function (xhr, textStatus) {
                console.log(xhr);
                console.log(textStatus);
            }
        });
    };

</script>
</html>